body{
	font-family: Tahoma;
	font-size: 14px;
	color: #e17055;
}

.menu{
	font-size: 12px;
	font-family: Verdana;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	display: inline-block;
	padding: 10px;
}

.menu a{
	text-decoration: none;
	color: #0984e3
}

